/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/**Richard added for Banner
    ----------------------------------------
*/
.banner {
    background-color: #1976d2;
    height: 62px;
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

/**Richard Added specfic for the portal list
--------------------------------------
*/
.portalListRoot {
    height: auto;
    min-height:850px;
    background-color: antiquewhite;
    padding: 50px;
}

    .portalListRoot .header {
        margin: 30px auto;
        max-width: 550px;
        font-weight: bold;
        font-size: 22px;
        /*text-align:center;*/
        padding-left: 13px;
    }

    .portalListRoot .filterWrap {
        padding: 10px;
        margin-bottom: 10px;
        margin: 2px auto;
        max-width: 550px;
    }

        .portalListRoot .filterWrap .filter {
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            margin-left: 2px;
            margin-right: 2px;
        }

    .portalListRoot table {
    }

        .portalListRoot table tr {
        }

            .portalListRoot table tr td, th {
                border-style: solid;
                border-width: 1px;
                padding: 12px;
            }
